<!DOCTYPE html>
<html>
<head>
  <title>Gypsy</title>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= link_to "Home", root_path %>
  <% if @current_user %>
    <%= link_to "Sign Out", sign_out_path, method: :delete %>
  <% end %>

<%= yield %>

<footer>
  <% User.all.each do |user| %>
    <%= link_to user.username, profile_path(username: user.username) %><br/>
  <% end %>
</footer>


</body>
</html>
